<div class="container" style="padding:2.5%;">
    <a href="https://benie.web.app/">
        <h1 style="text-align:center;">
            <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="50" alt="">
        </h1>
    </a>
    <div style="padding:1.5%;">
        <h1>Hello &#128512;</h1>
    <p>I'd like to take a moment to thank you for your former subscription to <span style="color:blueviolet">Benie Writes</span>. It has been lovely having you in the community and walking this journey with me.</p>
    <p>I also thought I should let you know that our doors are always open for you.</p>
    <p>Should you reconsider your subscription, you can follow <a href="https://benie.web.app/about">this link</a> anytime, and we will set you back up in a click!</p>
    <p>If you didn't like something about your former subscription, please send me a quick message <a href="mailto:beniewrites@gmail.com">here</a>.</p> 
    <p>Your thoughts will help me improve the experience of the current and future subscribers.</p>
    <p>Until next time...</p>
    </div>
    <div style="padding:1.5%;margin-top:1.5%;background-color:rgb(51, 50, 50);">
        <p>
            Cheers!
            <br>
            <span style="color:blueviolet;">Benson Langat.</span>
        </p>
        <br>
        <small style="text-align:center;">
            You are receiving this message because your email was recently subscribed to a monthly newsletter on <a href="https://benie.web.app">Benie Writes.</a>
            If you were unsubscribed by mistake or without your knowledge/consent, <a href="https://benie.web.app/about">subscribe here</a>.
        </small>
        <br>
        <div style="text-align:center;">
            <small>All rights reserved. Benson Langat, 2022</small>
        </div>
    </div>    
</div>