<div class="container" style="text-align:center;">
    <h1 style="color:blueviolet" style="text-align:center;">
        <img src="https://res.cloudinary.com/benie/image/upload/v1673223309/Screenshot_from_2023-01-09_03-14-40_wxyprm.png" height="30" alt="">
        Benie Writes
    </h1>
    <hr>
    <h2>Hello, {{name}}</h2>
    <p>Thank you for your message. I successfully received it and will get back to you as soon as possible.</p>
    <hr>
    <small>
        Cheers!
        <br>
        <span style="color:blueviolet"></span>
    </small>
</div>