<div class="container" style="padding:2.5%;">
    <a href="https://benie.web.app/">
        <h1 style="text-align:center;">
            <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="50" alt="">
        </h1>
    </a>
    <div style="padding:1.5%;">
        <h1>Hello, {{name}} &#128512;</h1>
    <p>Thank you for your message. I successfully received it and will get back to you as soon as possible.</p>
    </div>
    <div style="padding:1.5%;margin-top:1.5%;background-color:rgb(51, 50, 50);">
        <p>
            Cheers!
            <br>
            <span style="color:blueviolet;">The Dev Team,</span>
            <br>
            Benie Writes.
        </p>
        <br>
        <small style="text-align:center;">
            You are receiving this delivery report because your email was used to send me a message on <a href="https://benie.web.app">Benie Writes.</a>
            If this happened by mistake or without your knowledge, please take steps to secure your email account.
        </small>
        <br>
        <div style="text-align:center;">
            <small>All rights reserved. Benson Langat, 2022</small>
        </div>
    </div>    
</div>