<div class="container" style="padding:2.5%;">
    <a href="https://benie.web.app/">
        <h1 style="text-align:center;">
            <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="50" alt="">
        </h1>
    </a>
    <div style="padding:1.5%;">
        <h1>Hello Benie,</h1>
        <p>You have a new subscriber on Benie Writes. Here are their details:</p>
        <ul>
            <li><span><strong>email</strong></span> &nbsp;&nbsp; <span style="color:blueviolet">{{email}}</span></li>
            <li><span><strong>name</strong></span> &nbsp;&nbsp;<span style="color:blueviolet">{{name}}</span></li>
        </ul>
    </div>
    <div style="padding:1.5%;margin-top:1.5%;background-color:rgb(51, 50, 50);">
        <p>
            Cheers!
            <br>
            <span style="color:blueviolet;">The Dev Team,</span>
            <br>
            Benie Writes.
        </p>
        <br>
        <div style="text-align:center;">
            <small>All rights reserved. Benson Langat, 2022</small>
        </div>
    </div>    
</div>