<div>
    <h3><i class="fa-solid fa-book-open-reader"></i> Benie Writes</h3>
    <h1>Hello, {{name}}</h1>
    <p>I'd like to take a moment to thank you for your subscription. It is a delight to have more reading enthusiasts join my writing journey.</p>
    <p>I also thought I should give you a heads up on the <strong>Monthly Newsletter</strong> that you just opted into. If you have a busy schedule or just like the idea of going through everything as a compilation, this newsletter will serve you most.</p>
    <p>If you are unsure what your preferences will be, hang tight. At the end of every month, join me as I take you through everything you may have missed.</p>
    <br>
    <p>If you did not subscribe to receive my monthly newsletter, please <button>hit this button</button> to unsubscribe.</p>
    <br>
    <small>
        Cheers!
        <br>
        B.L. 
        <br>
        Benson Langat.
    </small>
</div>