<div class="container" style="padding:2.5%;">
    <a href="https://benie.web.app/">
        <h1 style="text-align:center;">
            <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="50" alt="">
        </h1>
    </a>
    <div style="padding:1.5%;">
        <h1>Hello, {{name}} &#128512;</h1>
    <p>I'd like to take a moment to thank you for your subscription to <span style="color:blueviolet">Benie Writes</span>. It is a delight to have more reading enthusiasts join my writing journey.</p>
    <p>I also thought I should give you a heads up on the <strong style="color:blueviolet;">Monthly Newsletter</strong> that you just opted into.</p>
    <p>If you have a busy schedule or like the idea of going through everything as a compilation, this newsletter will serve you most.</p>
    <p>If you are unsure what your preferences will be, hang tight. At the end of every month, I will take you through everything you may have missed.</p>
    </div>
    <div style="padding:1.5%;margin-top:1.5%;background-color:rgb(51, 50, 50);">
        <p>
            Cheers!
            <br>
            <span style="color:blueviolet;">Benson Langat.</span>
        </p>
        <br>
        <small style="text-align:center;">
            You are receiving this message because your email was subscribed to a monthly newsletter on <a href="https://benie.web.app">Benie Writes.</a>
            If this happened by mistake or without your knowledge/consent, <a href="https://benie.web.app/unsubscribe">unsubscribe here</a>.
        </small>
        <br>
        <div style="text-align:center;">
            <small>All rights reserved. Benson Langat, 2022</small>
        </div>
    </div>    
</div>