<div class="container" style="padding:5%;">
    <h1 style="text-align:center;">
        <img src="https://res.cloudinary.com/benie/image/upload/v1673223657/Screenshot_from_2023-01-09_03-20-34_aj98u2.png" height="40" alt="">
    </h1>
    <h1>Hello, {{name}} &#128512;</h1>
    <p>I'd like to take a moment to thank you for your subscription to Benie Writes. It is a delight to have more reading enthusiasts join my writing journey.</p>
    <p>I also thought I should give you a heads up on the <strong style="color:blueviolet;">Monthly Newsletter</strong> that you just opted into.</p>
    <p>If you have a busy schedule or just like the idea of going through everything as a compilation, this newsletter will serve you most.</p>
    <p>If you are unsure what your preferences will be, hang tight. At the end of every month, I will take you through everything you may have missed.</p>
    <small>
        Cheers!
        <br>
        <span style="color:blueviolet;">Benson Langat.</span>
    </small>
    <div style="background-color:rgb(17, 17, 17);">
        <small>
            If you did not subscribe to receive my monthly newsletter, please <button style="color:blueviolet">hit this button</button> to unsubscribe.
        </small>
    </div>
</div>